@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background-color: #b8b8b8;
  display: flex;
  justify-content: center;

  .navbar-item {

    margin: 0 10px;
    padding: 10px;

    .nav-link {
      color: #fff;
      text-decoration: none;
    }

    .selected {
      font-weight: bold;
    }
  }

}

.search-bar {
    text-align: center;
    padding: 10px 0;

    .input-field {
      padding: 6px;
      font-size: 18px;
    }

    .search-button {
      padding: 8px 15px;
      cursor: pointer;
      color: #fff;
      border: none;
      font-size: 18px;
      background-color: #31b931;
    }

}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px 0 0 0;
}

.main-content {
  text-align: center;

  .main-image {
    width: 100%;
    margin: 30px 0 0 0;
  }
}