*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar{
  background-color: #a3a3a3;

  .nav-links{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 30px;

    .link-item{
      align-items: center;
    }
  }
}

.container{
  max-width: 1140px;
  margin: 0 auto;
}