@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 16px;
}

.navbar {
  background-color: #b8b8b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  .navbar-item {
    margin: 0 10px;
    padding: 10px;

    .nav-link {
      color: #fff;
      text-decoration: none;
      font-size: 24px;
    }

    .selected {
      font-weight: bold;
    }
  }
}

.search-bar {
  text-align: center;
  padding: 10px 0;

  .input-field {
    padding: 10px 15px;
    font-size: 18px;
    border: 1px solid #000;
  }

  .search-button {
    padding: 11px 15px;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 18px;
    background-color: #31b931;
  }

  .error {
    color: #e71616;
    font-size: 18px;
    margin: 15px 0 0 0;
    display: inline-block;
  }
}

.container {
  max-width: 1140px;
  margin: 40px auto 0 auto;
  padding: 10px 0 0 0;
}

.main-content {
  text-align: center;

  .main-image {
    width: 80%;
    margin: 30px 0 0 0;
  }
}

.games-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .loading-div {
    margin: 0 auto;
    text-align: center;

    .loading {
      margin: 20px 0 0 0;
      font-size: 24px;
    }
  }

  .game-box {
    padding: 5px;
    width: 50%;
    text-align: center;


    .game-content {
      cursor: pointer;
      border: 1px solid #000;
      padding: 10px 0;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;

      .game-link {
        color: #4f4fdd;
      }
    }

    .game-content:hover {
      background-color: #c4c4c4
    }
  }
}

.details-content {
  .game-title {
    text-align: center;
    margin: 0 0 20px 0;
  }

  .info-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .box-art {
      margin: 0 20px;
      width: 40%;

      .box-img {
        width: 100%;
        border: 1px solid #000;
      }
    }

    .game-info {
      margin: 0 20px;
      width: 60%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      min-height: 500px;

      .game-info h1,
      .summary h3,
      .more-info h3 {
        margin: 0 0 10px 0;
      }

      .platforms,
      .release-date,
      .summary,
      .more-info {
        text-align: center;
        border: 1px solid #000;
        margin: 0 0 10px 0;
        padding: 0 10px;
      }

      .platforms,
      .release-date {
        padding: 10px 0;
      }

      .summary,
      .more-info {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }

      .more-info {
        .fa-external-link-alt {
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;

        }

        .fa-external-link-alt:hover {
          color: #57ce57;
        }

        .info-link:active,
        .info-link:visited,
        .info-link:link {
          color: #000;
        }
      }
    }
  }
}

.about-title {
  text-align: center;
  margin: 0 0 20px 0;
}

.about-list {
  font-size: 20px;

  .giant-bomb-link {
    text-decoration: none;
    color: #4f4fdd;
  }
}

// Media Queries

@media (max-width: 865px) {
  .games-container {
    display: block;

    .game-box {
      width: 100%;
    }
  }

  .details-content {
    .game-title {
      font-size: 24px;
    }

    .info-div {
      display: block;
      margin: 0 0 50px 0;

      .box-art {
        width: auto;
      }

      .game-info {
        width: auto;

        .more-info {
          padding: 0 0 5px 0;
        }
      }
    }
  }
}